:root {
    --sky: linear-gradient(1deg, #00d4ff , #4444c4 ); 
    --grass: #3f9b0b;
    --sun: yellow;
    --moon: rgb(212, 212, 212); 
}

body:has(#darkmode:checked) {
    --sky: linear-gradient(rgb(9, 9, 29), #131862) ;
}

body {
    height: 100vh;
    margin: 0;
    background: var(--sky);
    overflow: hidden;
}

section {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-color: var(--grass);
}

/*** darkmode switch ***/

#darkmode {
    display: none;
}

label {
    display: flex;
    margin: 1em 0 0 1em;
    width: 4em;
    height: 4em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

svg {
    position: absolute;
    width: 4em;
    height: 4em;
    transition: opacity 0.3s ease, transform 0.5s ease-in-out;
}

#moon {
    opacity: 0;
    fill: var(--moon);
}

#sun {
    fill: var(--sun);
}

body:has(#darkmode:checked) #sun {
    opacity: 0;
    transform: rotate(180deg);
}

body:has(#darkmode:checked) #moon {
    opacity: 1;
    transform: rotate(360deg);
}